* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  text-align: center;
  background-color: darkcyan;
  font-family: Varela Round;
}
.title {
  font-size: 50px;
  color: azure;
  margin-top: 80px;
}
.box {
  background-color: rgb(176, 226, 226);
  margin-top: 20px;
  display: inline-block;
}
.game {
  display: inline-block;
  height: 300px;
  width: 300px;
  margin: 30px;

  border-radius: 12px;
}
.box img {
  width: 300px;
  height: 300px;
  margin-bottom: 0px;
}
.varela-round-regular {
  font-family: "Varela Round", sans-serif;
  font-weight: 500;
  font-style: normal;
}
